html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    background-color: #fff;
    min-width: 320px;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 50px 0;
}

a {
    color: #111;
}

a:hover {
    color: #555;
}

h4 {
    text-decoration: underline;
}


/***************************
*********Header*************
****************************/

.navbar-expand-lg .navbar-nav .nav-link {
    color: #111;
    font-weight: 500;
    text-transform: uppercase;
}

.navbar-nav .dropdown-menu {
    right: 0;
    left: auto;
}

.top-menu li a::after {
    content: "";
    display: block;
    width: 100%;
    background-color: #111;
    height: 1px;
    transition: all .5s;
    transform: scale(0);
}

.top-menu li a:hover::after {
    transform: scale(1);
}

.modal-body img {
    max-width: 100px;
}

/***************************
*********Header*************
****************************/


/****************************
*********Carousel************
****************************/

.my-carousel {
    padding: 0;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    opacity: .9;
}


.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-next, .carousel-control-prev {
    opacity: 1;
}

/****************************
*********Carousel************
****************************/


/****************************
********Product-card*********
****************************/

.product-card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.6);
    transition: all .3s;
}

.product-card:hover {
    box-shadow: 0 1px 30px -15px rgba(0, 0, 0, 0.85);
}


.product-thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.product-thumb a {
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-thumb img {
    height: 100%;
    width: 100%;
    object-fit: cover;


}

.product-details {
    padding: 20px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    height: 60px;
    overflow: hidden;
}

.product-details p {
    margin-top: 20px;
    font-size: 16px;
    margin-bottom: 20px;
    color: #999;
    height: 100px;
    overflow: hidden;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding: 20px;
}

.product-price {
    font-size: 18px;
    color: #ee6e73;
    font-weight: 600;
}

.product-price small {
    color: #ccc;
    font-weight: 400;
    text-decoration: line-through;
    margin-right: 5px;
    padding-right: 20px;
}

.product-links a {
    display: inline;
    font-size: 20px;
    padding-left: 20px;

}

/****************************
********Product-card*********
****************************/
.footer {
    background-color: #343434;
}

.footer h4 {
    color: #ccc;
    text-transform: uppercase;
    font-size: 16px;
    border-bottom: 1px solid #666;
    padding-bottom: 3px;
}

.footer a {
    text-decoration: none;
    transition: all .3s;
}

.footer a:hover {
    color: #fff;
    text-decoration: underline;
}

.footer a, .footer li {
    color: #c8c8c8;
}

.footer li a {
    display: block;
}

.footer-icons a {
    display: inline-block;
    margin-right: 15px;
    font-size: 20px;
}

/****************************
************Footer***********
****************************/


/****************************
************Footer***********
****************************/